*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Saira';
  src: url(assets/saira-regular.ttf) format('truetype');
}

body {
  margin: 0;
  color: #333;
  font-family: 'Saira';
  font-size: 14px;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

img, svg {
  max-width: 100%;
}

input, select {
  outline: 0;
  border: 0;
  padding: 3px 5px;
  margin-left: 5px;
  font: inherit;
  font-weight: 400;
}

input {
  width: 75px;
  text-align: right;
}

input.color {
  width: 100px;
  text-align: initial;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  font: inherit;
  border-radius: 3px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background: #8895a1;
  opacity: 0.8;
  transition: all .3s;
}

button.open {
  background: #22ac38;
}

button.export {
  background: #e84f34;
}

button:hover {
  opacity: 1;
}

button:disabled, button:disabled:hover {
  opacity: 0.3;
  cursor: default;
}

/* --------------------------------------------------------
 * Layout
 * ----------------------------------------------------- */

.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left {
  background: url(./assets/bg-left.png)
}

.right {
  background: url(./assets/bg-right.png)
}

.img-tag, .svg-tag {
  position: absolute;
  top: 20px;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  opacity: 0.6;
}

.img-tag {
  background: #8895a1;
}

.svg-tag {
  background: #e96f59;
}

.controls {
  width: 250px;
  padding: 20px;
  background: #eee;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls .options {
  flex: 1;
}

.controls .options>div {
  margin: 10px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls .options>div>div {
  cursor: pointer;
}

footer {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #4a5560;
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer svg {
  margin-right: 5px;
}

/* --------------------------------------------------------
 * Tooltip Component
 * ----------------------------------------------------- */

.tooltip {
  display: none;
  position: absolute;
  right: 30px;
  width: 300px;
  padding: 10px 15px;
  border-radius: 3px;
  border: #fff5c2 1px solid;
  background: #fffbe5;
  color: #5c3c00;
  font-size: 12px;
  transition: all 0.3s;
}

.tooltip:before, .tooltip:after {
  position: absolute;
  width: 0px;
  height: 0px;
  content: '';
}

.tooltip:before {
  z-index: 12;
  left: 120px;
  top: -7px;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #fffbe5;
}

.tooltip:after {
  z-index: 10;
  left: 119px;
  top: -9px;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #fff5c2;
}

/* --------------------------------------------------------
 * Alert Component
 * ----------------------------------------------------- */

.message {
  position: absolute;
  left: 0;
  right: 250px;
  top: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message>div {
  position: absolute;
  z-index: 999;
  top: -100px;
  color: #fff;
  background: rgba(238, 77, 55, 0.8);
  padding: 10px 20px;
  border-radius: 3px;
  transition: top .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.message>div.visible {
  top: 20px;
}
